**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/dist
**/build
**/*.md
**/node_modules
**/.DS_Store
**/.env
**/.env.local
**/.env.*.local
**/docker-compose*.yml
**/.docker
**/.nuget
**/*.trx
**/*.pfx
**/appsettings.Development.json
